name: Copy Image to GHCR
on:
  workflow_dispatch:

jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Maximize space)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.MY_TOKEN }}

      - name: Pull and Push
        run: |
          docker pull dtunikov/mlnode-api:0.0.3
          docker tag dtunikov/mlnode-api:0.0.3 ghcr.io/${{ github.repository_owner }}/mlnode-api:0.0.3
          docker push ghcr.io/${{ github.repository_owner }}/mlnode-api:0.0.3
